# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
.terraform.lock.hcl
override.tf
override.tf.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# Kube / secrets
kubeconfig
*.pem
*.key
